* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR STYLES */
.navbar {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-weight: bold;
}

.navbar__links {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar__links div {
  cursor: pointer;
}

/* PAGE 1 STYLES */
.main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main form {
  width: 60vw;
  border: 1px solid #b8b8b8;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.main form>* {
  border-radius: 5px;
}

.main form h1 {
  text-align: center;
  padding-bottom: 20px;
}

.main form label {
  align-self: flex-start;
}

.main form input {
  margin: 10px 0;
  padding: 5px;
}

.main form input:hover {
  outline: 4px solid #3b3bff8e;
  border: 2px solid #3b3bff;
}

.main form button {
  width: 100px;
  align-self: center;
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
}

.main form span {
  margin: 5px;
}

/* PAGE 2 STYLES */
.message {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}